
body {
    background: black;
}

#play {
    margin: auto;
    z-index: 214748;
}

#video {
    /*background: black;*/
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    -webkit-box-shadow:
            inset 0 0 50px #000,
            inset 0 0 50px #000,
            inset 0 0 50px #000;

    -moz-box-shadow:
            inset 0 0 50px #000,
            inset 0 0 50px #000,
            inset 0 0 50px #000;

    box-shadow:
            inset 0 0 50px #000,
            inset 0 0 50px #000,
            inset 0 0 50px #000;
}

#buttons {
    position: absolute;
    margin: auto;
    bottom: 100px;
    z-index: 2147483647;
    opacity: 1;
}

#button1,#button2 {
    text-align: center;
    width: 300px;
    font-size: 20px;
    border: black;
    margin: 10px;
    color: white;
    background-color: black;
}

